<!--
  ~ The /home/johnnym/Code/forex/manager/impl/manager-Impl/src/main/resources/OSGI-INF/blueprint/context.xml
  ~ is part of the forex project.
  ~ Copyright (C) 2014 johnnym
  ~
  ~     This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by the
  ~ Free Software Foundation; either version 2 of the License, or any later
  ~ version.
  ~
  ~     This program is distributed in the hope that it will be useful, but
  ~ WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
  ~ for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software Foundation,
  ~ Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA
  -->
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service ref="managerService"
             interface="hu.fnf.devel.forex.manager.api.Manager">
    </service>

    <!--<bean id="activemqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">-->
    <!--<property name="brokerURL" value="tcp://localhost:61616" />-->
    <!--&lt;!&ndash;<property name="userName" value="admin" />&ndash;&gt;-->
    <!--&lt;!&ndash;<property name="password" value="admin" />&ndash;&gt;-->
    <!--</bean>-->

    <!--<bean id="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">-->
    <!--<property name="maxConnections" value="8" />-->
    <!--<property name="connectionFactory" ref="activemqConnectionFactory" />-->
    <!--</bean>-->

    <!--<bean id="resourceManager" class="org.apache.activemq.pool.ActiveMQResourceManager" init-method="recoverResource">-->
    <!--<property name="transactionManager" ref="transactionManager" />-->
    <!--<property name="connectionFactory" ref="activemqConnectionFactory" />-->
    <!--<property name="resourceName" value="activemq.localhost" />-->
    <!--</bean>-->

    <!--<reference id="transactionManager" interface="javax.transaction.TransactionManager" />-->

    <!--<service ref="pooledConnectionFactory" interface="javax.jms.ConnectionFactory">-->
    <!--<service-properties>-->
    <!--<entry key="name" value="test" />-->
    <!--<entry key="osgi.jndi.service.name" value="jms/test" />-->
    <!--</service-properties>-->
    <!--</service>-->

    <!--<bean id="activemqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">-->
    <!--<property name="brokerURL" value="tcp://localhost:61616" />-->
    <!--<property name="userName" value="admin" />-->
    <!--<property name="password" value="admin" />-->
    <!--</bean>-->

    <bean id="managerService"
          class="hu.fnf.devel.forex.manager.impl.WebManager"
          init-method="initMethod">
        <!--<property name="testMQ" ref="activemqConnectionFactory" />-->
    </bean>
</blueprint>
